<div class="modal fade" id="<%= dom_id(art) %>" tabindex="-1" role="dialog" aria-labelledby="<%= dom_id(art, :label) %>" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="<%= dom_id(art, :label) %>"><%= art.title %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>Artist:</strong> <%= art.artist.username %></p>

        <p>
          <% if art.art_image.present? %>
            <%= image_tag art.art_image, class: 'img-fluid' %>
          <% end %>
        </p>

        <p><strong>Show Artist:</strong> <%= link_to 'Show Artist', artist_path(art.artist) %></p>
        <p><strong>Description:</strong> <%= art.description %></p>
        <p><strong>Tags:</strong> <%= art.tags %></p>
        <p><strong>Category:</strong> <%= art.category %></p>
        <p><strong>License type:</strong> <%= art.license_type %></p>
        <p><strong>Download count:</strong> <%= art.download_count.presence || 0 %></p>
        <% if art.art_image.present? %>
            <p><strong>Download:</strong>
            <div class="btn-group">
                <%= link_to 'Download (Small)', download_image_with_resolution_art_path(art, width: 640, height: 480), class: 'btn btn-primary', target: '_blank', rel: 'noopener' %>
                <%= link_to 'Download (Medium)', download_image_with_resolution_art_path(art, width: 1280, height: 720), class: 'btn btn-secondary', target: '_blank', rel: 'noopener' %>
                <%= link_to 'Download (Large)', download_image_with_resolution_art_path(art, width: 1920, height: 1080), class: 'btn btn-success', target: '_blank', rel: 'noopener' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>