<div id="<%= dom_id art %>" >
  <p>
    <strong>Artist:</strong>
    <%= art.artist.username %>
  </p>

  <p>
    <% if art.art_image.present? %>
      <%= image_tag art.art_image %>
    <% end %>
  </p>
  
  <p>
    <strong>Show Artist:</strong>
    <%= link_to 'Show Artist', [@artist] %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= art.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= art.description %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= art.tags %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= art.category %>
  </p>

  <p>
    <strong>License type:</strong>
    <%= art.license_type %>
  </p>

  <p>
    <strong>Download count:</strong>
    <%= art.download_count %>
  </p>

</div>
