<!DOCTYPE html>
<html>
  <head>
    <title>Name</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <% if artist_signed_in? %>
      <%= button_to "Sign Out", destroy_artist_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign In', new_artist_session_path %>
      <%= link_to 'Sign Up', new_artist_registration_path %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
